

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    max-width: 600px;
    padding: 20px;
  }
  
  
  .custom-button {
    display: inline-block;
    padding: 20px; 
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
    font-size: 18px; 
    border: none; 
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif; 
  }
  

  .custom-button:hover {
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
  }
  